@model IEnumerable<TrafikSkola.Models.Driver>

@{
    ViewData["Title"] = "Index";
}
<body class="Driversbody">
<h1 style="Text-Align:center;">Welcome to Driver's page!</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
       <button type="button" class="btn btn-light btn-rounded"> <a asp-controller="Bookings">See Your Bookings here</a></button>
       </div>
      
       <div class="col-md-6">
         <button type="button" class="btn btn-light btn-rounded"> <a asp-action="Create">Add new Drivers here</a></button>
       </div>
</div>


  <!-- <a Response.Redirect(Url.Action("action", "Learnercontroller"))>see</a> -->
  <br />
  <hr />





@*<h1>Index</h1>*@

<p>
   @* <a asp-action="Create">Create New</a>*@
</p>
<table class="table table-hover">
    <thead>
        <tr class="p-3 mb-2 bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VechicalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VechicalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
              @* @Html.DisplayFor(modelItem => item.File)*@
                 <img src="data:Image/jpeg;base64,@Convert.ToBase64String(item.File)"height="40"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
