@model IEnumerable<TrafikSkola.Models.Driver>

@{
    ViewData["Title"] = "Index";
}
<body class="Driversbody">
<h1 style="Text-Align:center;">Welcome to Driver's page!</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
       <button type="button" class="btn btn-light btn-rounded"> <a  asp-controller="Bookings">see your bookings here</a></button>
       </div>
       <div class="col-md-6">
         <button type="button" class="btn btn-light btn-rounded"> <a asp-action="Create">Add new Drivers here</a></button>
       </div>
</div>


  
  <br />
  <hr />
<table class="table table-hover">
    <thead>
        <tr class="p-3 mb-2 bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>