@model IEnumerable<TrafikSkola.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
   @* <div class="col-md-6">
       <button type="button" class="btn btn-light btn-rounded"> <a asp-controller="Bookings">See Your Bookings here</a></button>
       </div>*@
      
       <div class="col-md-6">
         <button type="button" class="btn btn-light btn-rounded"> <a asp-action="Create">Add new Bookings here</a></button>
       </div>
</div>

</div>
<hr />

<br />

<table  class="table table-hover">
    <thead>
        <tr class="p-3 mb-2 bg-dark text-white">
             <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner.End)
            </th>
            <th></th>
            
           
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.LearnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.End)
            </td>
             <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
            
           
        </tr>
}
    </tbody>
</table>
