@model IEnumerable<TrafikSkola.Models.Booking>

@{
    ViewData["Title"] = "Index";
}
<p>Here are the learners details with respective driver name and timings.</p>
<hr />

<br />

<table  class="table table-hover">
    <thead class="table-dark">
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner.End)
            </th>
           
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.LearnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.End)
            </td>
            
           
        </tr>
}
    </tbody>
</table>
